@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication15.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    @Html.AntiForgeryToken()  <!-- Thêm CSRF Token nếu cần -->

    <div class="form-group">

        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a href="@Url.Action("Index", "Categories")" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
